{% extends "base.html" %}

{% block main %}
<h1>Secure Page</h1>
{% include 'flash_messages.html' %}
<p>This is definitely a secure page.This is definitely a secure page.
    This is definitely a secure page.This is definitely a secure page.
    This is definitely a secure page.This is definitely a secure page.
    This is definitely a secure page.This is definitely a secure page.
    This is definitely a secure page.This is definitely a secure page.
    This is definitely a secure page.This is definitely a secure page.
    This is definitely a secure page.This is definitely a secure page.
    This is definitely a secure page.This is definitely a secure page.
    This is definitely a secure page.This is definitely a secure page.
</p>
{% endblock %}